M3U_URL=http://octopus.local:8888/playlist.m3u
ADVERTISED_BASE_URL=http://192.168.1.50:34400
HDHR_DEVICE_ID=105A1B2C
HDHR_FRIENDLY_NAME=octotuner
HDHR_TUNER_COUNT=4
PLAYLIST_REFRESH_SECONDS=300
SERVER_PORT=34400
